
body{
  margin: 0;

}
#container{
  background-color: whitesmoke;
  width:800px;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;


}
h2 {
  text-align: center;
  color: darkgray;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 400;
}

#form{
  float: left;
  padding-right: 10px;
}

#message{
  float: left;

}

#submit{
  clear: both;
}


// Voveres kurios yra narve
.narve .vovere {
}

// Elementai kurie turi klase vovere IR narvas. pvz. class="narvas butelis vovere"
.narvas.vovere {
}

// Elementai kurie turi klase vovere IR narvas. pvz. class="narvas butelis vovere"
// Tas pats kas vienu auksciau
.vovere.narvas {
}


// voveres
.vovere {
}

// Narvus
.narvas {
}


// selektinam Message kurie yra div'uose
div .message {
}

// selektinam message kurie YRA div'ai
div.message {
}

// Placeholderiai inpute
input .placeholderius {

}

// Placeholderiai kurie yra inputai
input.placeholderius {

}

.vovere {
}


::-webkit-input-placeholder {
}

// vovere narve
.formsInput ::-webkit-input-placeholder {
  color: blue;
}

// vovere, kuri yra narvas (skiriasi nuo praeito)
.formsInput::-webkit-input-placeholder {
  color: blue;
}

// Vovere
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
}

::-moz-placeholder { /* Firefox 19+ */
  color: blue;
}

:-ms-input-placeholder { /* IE 10+ */
  color: blue;
}

:-moz-placeholder { /* Firefox 18- */
  color: blue;
}



//$placeholderioSpalva: blue;
//
//::-moz-placeholder { /* Firefox 19+ */
//  color: $placeholderioSpalva;
//}
//
//:-ms-input-placeholder { /* IE 10+ */
//  color: $placeholderioSpalva;
//}
//
//:-moz-placeholder { /* Firefox 18- */
//  color: $placeholderioSpalva;
//}




.formsInput {
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
  border-style: none;

}

#message{
  border-style: none;
  border-radius: 6px;
  resize: none;
  padding-top: 10px;
  margin-top: 15px;
  padding-left: 15px;
  font-family: "Arial", serif;
}
#submitbutton{
  background-color: red;
  border-radius: 6px;
  width:100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  color:white;
}


.narvas {
  padding: 15px;
  background-color: lightgray;
}


.narvas, .vovere {
  color: aqua;
}



.vovere{
  background-color:brown;
}






.narvas .vovere {
  color: black;
}


.vovere {
  background-color: brown;
  margin: 10px;
  border: 1px solid black;
}

.narvas {
  padding: 15px;
  background-color: lightgray;

  .vovere {
    color: aqua;
  }
}
